<h2>Editing edition</h2>

<%= simple_form_for @edition, :url => {:action => 'update', :id => @edition.id} do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end %>

<%= link_to 'Show', editions_admin_path(:id => @edition, :action => 'show'), :class => "button" %>
<%= link_to 'Back', editions_admin_path, :class => "button" %>
