<h2>New edition</h2>

<%= simple_form_for @edition, :url => {:action => 'create'} do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end %>

<%= link_to 'Back', editions_admin_path, :class => "button" %>