* {
padding: 0;
margin: 0;
}

h1, h2, h3, h4 {
margin: 2px;
padding: 2px;
}

ul {
list-style-type: none;
}
#wrapper {
width: 1100px;
margin: 0 auto;
text-align: left;
}
#main_menu li {
float: left;
margin: 4px;
}