* {
padding: 0;
margin: 0;
}
html {
height: 100%;
}
body {
background-color: #ABABAB;
/*font-family: Tahoma, Geneva, sans-serif;*/
font-family: Georgia, serif;
color: #000;
}
ul {
list-style-type: none;
}
h1 {
margin-bottom: 20px;
}
h1, h2 {
font-weight: normal;
font-size: 22px;
}
a {
color: #000;
}
a:hover {
color: red;
}
a img {
border: none;
}
/* IDS */
#wrapper {
width: 950px;
margin: 0 auto;
text-align: left;
}
#cover_wrapper {
width: 750px;
margin: 0 auto;
text-align: left;
}
#cover_wrapper img {
width: 750px;
}
#header {
text-align: left;
padding-left: 20px;
border-bottom: 1px solid rgb(51,0,0);
margin-bottom: 10px;
}
#divider {
height: 5px;
background-color: rgb(51,0,0);
margin-top: 5px;
}
#flash {
margin-top: 30px;
text-align: center;
font-size: 25px;
}
#main_nav {
float: left;
padding-left: 20px;
margin-bottom: 15px;
}
#main_nav li {
float: left;
padding: 5px 120px 5px 0;
text-transform: uppercase;
}
#main {
width: 940px;
padding: 0px 20px;
margin-bottom: 20px;
}
#main p {
margin-bottom: 10px;
}
#main h2 {
margin: 20px 0px;
font-weight: normal;
}
#main img.work_image {
width: 900px;
}

#footer {
height: 40px;
clear: both;
margin-top: 20px;
text-align: right;
font-family: helvetica;
font-weight: bold;
font-size: 10pt;
background-color: #999;
}
#footer div {
padding: 5px 15px;
}
/* CLASSES */
.highlight {
color: rgb(51,0,0);
font-size: 14px;
}
.editions_works {
float: left;
width: 440px;
padding-right: 20px;
}
.epigraph {
padding-left: 150px;
}
.name {
font-style: italic;
}
li.first_level {
padding-bottom: 10px;
}
ul.second_level li {
padding-left: 10px;
font-style: italic;
}
.first_line_indent {
text-indent: 1.27cm;
}
