<h2>Editing user</h2>

<%= simple_form_for @user, :url => {:action => 'update', :id => @user} do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end %>

<%= link_to 'Show', users_admin_path(:id=> @user, :action => 'show'), :class => "button" %>
<%= link_to 'Back', users_admin_path, :class => "button" %>