<h1>Listing links</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Link url</th>
    <th>Description</th>
  </tr>

<% @links.each do |link| %>
  <tr>
    <td><%=h link.title %></td>
    <td><%=h link.link_url %></td>
    <td><%=h link.description %></td>
  </tr>
<% end %>
</table>