<h2>Editing work</h2>

<%= simple_form_for @work, :url => {:action => 'update', :id => @work}, :html => { :multipart => true } do |f| %>
  <%= render :partial => "form", :locals => {:f => f} %>
<% end %>

<%= link_to 'Show', works_admin_path(:id=> @work, :action => 'show'), :class => "button" %>
<%= link_to 'Back', works_admin_path, :class => "button" %>
