/* JERRY STYLES */
body h1, body h2 {
  margin: 0;
  padding: 0;
  font-family: "Cabin Sketch", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 48px;
}
body h2 {
  font-size: 36px;
  color: #181A63;
}
textarea {
  width: 750px;
}
#flash_message {
  font-family: 'Love Ya Like A Sister', Arial, Helvetica, sans-serif;
  font-size: 24px;
  margin: 10px;
  color: green;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.cb {
  clear: both;
}
.simple_form label {  
  float: left;  
  width: 100px;  
  text-align: right;  
  margin: 2px 10px;  
}
.simple_form input[type='number'] {
  width: 30px;
  text-align: right;
}
.simple_form .old_input_label {
  font-style: italic;
  color: green;
}
.simple_form div.old_input {
  display: none;
}
.simple_form div.input {  
  margin-bottom: 10px;
  clear: left;  
} 
.simple_form div.boolean, .simple_form input[type='submit'] {  
  margin-left: 120px;  
}  
.simple_form div.boolean label {  
  float: none;  
  margin: 0;  
}
#main_menu {
  float: left;
}
#main_menu ul {
  list-style-type: none;
  margin : 0;
}
#main_menu li {
  float: left;
  padding: 5px;
}
#preview_show .show_inline {
  clear: both;
  margin-bottom: 10px;
}
#preview_show .show_inline h4 {
  float: left;
  margin: 0;
  padding: 0;
  padding-right: 10px;
}
#preview_show img.work_image {
  width: 680px;
}
#work_pages {
  padding: 5px;
  margin-bottom: 10px;
  .work_page_fields {
    background: #feffff; /* Old browsers */
    background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 35%, #a0d8ef 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#feffff), color-stop(35%,#ddf1f9), color-stop(100%,#a0d8ef)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* IE10+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 ); /* IE6-9 */
    background: linear-gradient(top, #feffff 0%,#ddf1f9 35%,#a0d8ef 100%); /* W3C */
    padding: 5px;
    border-bottom: 1px solid #BBB;
  }
}