$dark-grey: rgb(174,174,174);
$middle-grey: rgb(192,192,192);
$light-grey: rgb(234,234,234);
$red: #D60000;
@mixin red-bottom {
  border-bottom: 5px solid $red;
}
@mixin red-top {
  border-top: 5px solid $red;
}
@mixin body-header {
  font-family: 'Lato', Helvetica, arial, sans-serif;
  font-size: 1.2em;
}
body {
  font-family: 'Lato', Helvetica, arial, sans-serif;
  font-size: 0.9em
}
a {
  color: #000;
  text-decoration: none;
  &:hover {
    color: $red;
  }
}
a:hover {
  
}
h1, h2 {
  font-family: 'Syncopate', Helvetica, arial, sans-serif;
}
#fixed_furniture {
  #main_image {
    height: 370px;
    width: 370px;
    background: url(/images/jerry-home-image-edition3.png) no-repeat top left;
  }
  h1.grid_5, h1.grid_3 {
    padding: 10px 0 5px 0;
    text-transform: uppercase;
    text-align: center;
    background-color: $dark-grey;
    border: 1px solid #000;
    font-size: 64px;
    letter-spacing: 8px;
    width: 368px;
    margin-right: 2px;
    margin-top: 10px;
    margin-bottom: 10px;
    a {
      outline: none;
    }
    span {
      padding: 0;
      padding-left: 8px;
    }
  }
  ul {
    list-style-type: none;
    float: right;
    width: 80px;
    background-color: $dark-grey;
    padding: 0;
    border: 1px solid #000;
    margin-top: 0px;
  }
  li {
    text-align: center;
    padding: 30px 15px;
  }
}
#main {
  h1 {
    margin-top: 0;
    padding: 10px 10px 5px 10px;
    text-align: right;
    background-color: $dark-grey;
    border: 1px solid #000;
  }
  h2 {
    text-transform: uppercase;
    text-align: center;
    @include red-bottom;
  }
  #note_to_note {
    h3 {
      margin: 0;
      @include body-header;
    }
    padding: 5px;
    border: 1px solid #000;
    background-color: $light-grey;
  }
  #contributors {
    list-style-type: none;
    padding: 0;
    margin-top: 40px;
    li {
      h4 {
        @include body-header;
        @include red-bottom;
        margin-bottom: 0px;
        &:hover {
          color: $red;
          cursor: pointer;
        }
      }
      p {
        margin-top: 5px;
      }
    }
    .work_overlay {
      /* must be initially hidden */
    	display: none;
    	z-index: 10000;
	
    	/* styling */
    	background-color: $light-grey;
    	width: 400px;	
    	border: 1px solid #666;
    	padding: 10px 15px;
	
    	/* CSS3 styling for latest browsers */
    	-moz-box-shadow:0 0 10px 5px #333;
    	-webkit-box-shadow: 0 0 10px #333;
    	.close {
      	background-image: url(/images/overlay/close.png);
      	position: absolute;
      	right: -15px;
      	top: -15px;
      	cursor: pointer;
      	height: 35px;
      	width: 35px;
      }
    	ul {
    	  @include red-top;
        list-style-type: none;
        padding: 0;
        padding-top: 20px;
        margin: 0;
        margin-bottom: 20px;
        li {
          font-size: 1.1em;
          font-style: italic;
          padding: 5px 0;
          padding-left: 40px;
        }
      }
    }
    
  }
}
#footer {
  text-align: right;
}
#work_wrapper {
  #fixed_furniture {
    #main_image {
      width: 210px;
    }
    h1.grid_3 {
      font-size: 40px;
      letter-spacing: 6px;
      width: 208px;
    }
  }
  #main {
    background-color: $middle-grey;
    padding: 10px 0;
    h1 {
      background: none;
      border: none;
      @include red-bottom;
      margin: 0 10px;
    }
    div, h3, p.name, p.epigraph {
      margin: 0 10px;
    }
    h3 {
      margin-top: 20px;
      padding-left: 10px;
      font-weight: normal;
    }
    p.name {
      margin-top: 20px;
      margin-bottom: 20px;
      padding-left: 50px;
    }
    p.text-indent {
      text-indent: 20px;
    }
    a {
      color: $red;
    }
    img.work_image {
      width: 680px;
      margin-left: 10px;
    }
    a.work_lightbox_image {
      outline: none;
    }
    a.work_lightbox_image img {
      width: 200px;
      margin-left: 10px;
    }
    #work_links_top {
      margin-top: 5px;
      margin-bottom: 8px;
    }
    div.page_links {
      float: right;
      .this_page {
        text-decoration: underline;
      }
    }
  }
}
