#edition-1 {
  background-color: rgb(171,171,171);
  margin: 0;
  #wrapper {
    text-align: center;
    padding: 0;
  }
  a {
    outline: none;
    text-decoration: none;
  }
  img {
    width: 800px;
    margin: 0;
  }
}