<h2>Creation</h2>

<p><span class="highlight">JERRY</span> is an online publication interested in breaking through the overflow of content available in current literary magazines by publishing only work that is conceptually sound and aesthetically strong. </p> 

<p>Poetry, fiction and nonfiction in 2009 comes in all shapes and sizes and both keeping track of new, interesting material, and finding consistent, intelligent work can be a challenge.</p>

<p><span class="highlight">JERRY</span> will also host a growing, and eventually comprehensive, reviews section dedicated to small, fringe presses.  Since it can be difficult to keep up with all the interesting work published by fringe presses, Jerry will function as an important, readable resource for new small press publications.</p>  

<p>We are not interested in imposing aesthetic requirements on what work we publish, if anything we are interested in the cacophony of voices that exist in young writers. These several voices can be disparate, but given the right opportunity—not necessarily a common subject or genre, but a consistent investigation of beauty, form and imagination—they can reach harmony.</p>  

<p>We understand the near impossibility of what we propose.  We understand the importance of trial.</p> 

<p><span class="highlight">JERRY</span> strives to provide an opportunity for a wide array of voices to be brought together because of their strength of purpose, conception, and realization.</p> 

<h2>Submissions</h2>

<p><span class="highlight">JERRY</span> will begin reading submissions in the very near future.</p>

<p>
  <script language="javascript">
    <!--
    var x1 = "editors";
    var x2 = "jerrymagazine.com.com";
    document.write("<a href=" + "ma" + "ilto:" + x1 + "@" + x2 + ">" + x1 + "@" + x2 + "</a>");
    //-->
  </script>
</p>