%h2 About
%p
  JERRY is an online publication interested in breaking through the overflow of content available in current literary magazines by publishing only work that is conceptually sound and aesthetically strong. Founded in 2009 by Emily Wolahan and Ethan J. Hon, JERRY currently appears as often as its editors can manage––and that’s about bi-annually.
%p
  We accept work in all shapes and sizes with an aim to keep track of new, interesting material, and find consistent, intelligent work. We are not interested in imposing aesthetic requirements on what work we publish.  If anything we are interested in the cacophony of voices that exist in emerging and established writers alike. These several voices can be disparate, but given the right opportunity&mdash;not necessarily a common subject or genre, but a consistent investigation of beauty, form and imagination&mdash;they can reach harmony. JERRY strives to provide an opportunity for a wide array of voices to be brought together because of their strength of purpose, conception, and realization.
%p
  JERRY hosts a reviews section dedicated to small, fringe presses. We enlist poets and writers to review new books that have caught their attention, bringing their aesthetics and uncompromising eye to a short analysis of the texts.
%p
  Please address any questions about JERRY or its writers to editors (at) jerrymagazine (dot) com.

#masthead
  %h2 MASTHEAD
  %h3 Editors
  %p Emily Wolahan & Ethan J. Hon
  %h3 Fiction Editor
  %p Kera Yonker
  %h3 Web Site Built By
  %p=link_to("Flux=Rad", "http://fluxequalsrad.com", :target => "_blank")