#note_to_note
  %h3 Note to Note
  = textilize(@edition.description)
%ul#contributors
  - @contributors.each do |contributor|
    %li
      %h4[contributor]
        %a= contributor.get_fullname
      %p
        a short bit of text
      %ul{:style => "display: none;"}
        - contributor.get_edition_works(@edition.id).each do |work|
          %li= link_to(no_paragraph(work.title_calc), work_path(work))