<h2>Submissions</h2>

<p><span class="highlight">JERRY</span> will begin reading submissions in the very near future.</p>

<p>
  <script language="javascript">
    <!--
    var x1 = "editors";
    var x2 = "jerrymagazine.com";
    document.write("<a href=" + "ma" + "ilto:" + x1 + "@" + x2 + ">" + x1 + "@" + x2 + "</a>");
    //-->
  </script>
</p>