<h2>Submissions</h2>

<p><span class="highlight">JERRY</span> is now open for submissions.  Please send your work in .doc form to editors (@) jerrymagazine .com (You know how to make that a real email address).</p> 

<p>In your subject please include: NAME “TITLE” GENRE.</p>

<p>We will do our very best to get back to you promptly.  When you think of what “promptly” means, please go ahead and add a few weeks to account for JERRY time.</p> 

