<h2>Submissions</h2>

<p>Please send your work in .doc form to editors (@) jerrymagazine (dot) com.</p>

<p>Before submitting, please have a look at our current and past issues to get an idea of the type of poems and prose we are looking for.  There is also more information on our "About Us" page.</p>

<p>In your subject please include: NAME "TITLE" GENRE.</p>

<p>Poems: Please send 3-6 poems in a single document.</p>

<p>Fiction: While there is no word or page limit for your submission, please keep in mind the general style and length of the work JERRY publishes.</p>

<p>Reviews: If you are interested in reviewing a small-press title for JERRY, please send a query telling us the title and author of the book, the press and year (must be new or forthcoming), what attracts you to this book in particular and why it’s right for JERRY.  Subject line: REVIEW QUERY (Title of book).</p>

<p>We will do our very best to get back to you promptly. When you think of what "promptly" means, please go ahead and add a few weeks to account for JERRY time.  Simultaneous submissions are acceptable, but please let us know if your work is accepted elsewhere.</p>

